/* reset */
*{
  margin: 0;
  padding: 0;
  /* con questa istruzione si evita il commarsi dei padding e border a width e height */
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color:darkcyan;
  padding-bottom: 100px;
}

#titolone{
  color: aqua;
}

.titolo-grande{
  color: blueviolet;
}

h1{
  text-align: center;
  color: #EB6E60;
}


section{
  background-color: burlywood;
  min-height: 255px;
}

span{
  color: chocolate;
}

header{
  padding: 40px;
  text-align: center;
}


.menu ul{
  list-style: none;
}

.menu ul li{
  display: inline-block;
  padding: 5px 10px;
  background-color: #EB6E60;
  margin: 0 20px;
}

.menu ul li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.menu ul li a:hover{
  text-decoration: underline;
}
.menu ul li a:active{
  color: yellow;
}

.testo-bold{
  /* 800 = bold - 400 = default */
  font-weight: 800;
  display: block;
}

#testo-principale{
  color: blueviolet;
  font-style: italic;
  text-align: justify;
  padding: 20px 0;
  background-color: antiquewhite;
}

.testo-secondario{
  color: cadetblue;
  text-align: right;
}

.container{
  width: 90%;
  max-width: 1080px;
  background-color: #EB6E60;
  padding: 20px;
  margin: 0 auto;
}

.box{
  text-align: center;
  width: 500px;
  height: 300px;
  background-color: brown;
  margin: 20px auto;
  border-radius: 10px;
  color: white;
  padding: 20px;
  border: 10px solid black;
}

.box:hover{
  background-color: yellow;
  color: brown;
}

.testo{
  margin-bottom: 70px;
  background-color: aqua;
}

.box-piccolo{
  width: 100px;
  height: 100px;
  border: solid;
  border-width: 2px 5px;
  border-color: red black violet yellow;
  margin: 50px;
  display: inline-block;
}

.box-arancio{
  background-color: #EB6E60;
  
}

.box-arancio2{
  background-color: rgb(235, 110, 96);
}

.box-arancio3{
  background-color: rgba(235, 110, 96, 0.5);
}

.box-50{
  height: 100px;
  width: 50%;
  background-color: blue;
}

.inner-box{
  background-color: yellow;
  width: 100%;
  height: 50%;
}

.box-image{
  width: 50%;
  height: 400px;
  /* il percorso dell'immagi è relativo a dove è il file css */
  background-image: url('../img/orsi.jpg');
  background-color: aquamarine;
 /* 
 così deformo l'immagine
 background-size: 500px 400px;*/
 /* con covewr l'immagine prende tutto lo spazio del contenitore senza deformarsi */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* tutti gli ul che hanno l'attributo class che contienete 'lista-' */
ul[class*='lista-']{
  margin: 20px;
}



.lista-principale li:last-child{
  color: yellow;
}

/* il quarto elemento della lista lista-principale sia blu */
.lista-principale li:nth-child(4){
  color: blue;
}


/*tutti gli elementi dispari della lista princiale siano verdi*/
.lista-principale li:nth-child(odd){
  color: green;
}
/*tutti gli elementi pari della lista secondaria siano rossi*/
.lista-secondaria li:nth-child(even){
  color: red;
}

.lista-principale li:first-child{
  color: red;
}

/* ogni 3 elementi della lista 3 rossi */
.lista-3 li:nth-child(3n){
  color: red;
}

/* ogni 3 elementi della lista 3 rossi a partire dal quinto */
.lista-4 li:nth-child(3n + 5){
  color: red;
}